.git
.github
.gitignore
.env
.env.*
.editorconfig
.idea
.vscode
node_modules
vendor
tests
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/*
bootstrap/cache/*
*.log
.docker
docker-compose*.yml
README.md
phpunit.xml
.phpunit.result.cache
coverage 